/* 
=========================================

    Uncheck to make sure CSS is working

=========================================
    */
/* h1 {
  color: red;
} */

/* ================================================================================== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
